Toreless - draft-8 section section 3.1.2 - Add requirement for SNI Pledge->Cloud Registrar please

I am brining up this issue because  of the discussion about RFC8995 Errata 6648.
https://mailarchive.ietf.org/arch/msg/anima/nuegphqHvYUA6FZOvTeed4pQwSM

When a Registrar or MASA is to be deployed in a cloud setting, it may likely not have a unique IPv4 Address, but share that IP addresss with other applications that are using other DNS names and certificates. 

For this setup to work, the TLS initiator MUST indicate the server_name extension (from RFC6066) in the TLS client hello, so that the cloud infrastructure can direct the connection request to the correct cloud application (of the Registrar or MASA).

In TLS 1.3, server_name is mandatory, but in TLS 1.2 it is not - because it was only added as an extension after TLS 1.2. And in BRSKI (see errata 6648), we did not include a requirement for the server_name extension (also called SNI), because for the non-cloud use cases we have no need or desire to require the WebPKI trust anchors required to verify a cloud service certificate. And/or we overlooked trying to describe the issue correctly.

BUT: For BRSKI cloud it seems very prudent to require server_name / SNI to make it easily deployable (on the cloud side).

Therefore, i suggest to add the following text after the first paragraph of brski-cloud, section 3.1.2 (from -08):

_Pledges MUST and Cloud/Owner Registrars SHOULD support the use of the "server_name" TLS extension (SNI, RFC6066). Pledges SHOULD send a valid "server_name" extension whenever they know the domain name of the registrar they connect to, unless it is known that Cloud or Owner Registrars for this pledge implementation will never need to be deployed in a cloud setting requiring the "server_name" extension._

Discussion: This text does not elaborate on the fact that the requirement to MUST/SHOULD support server_name is already part of TLS 1.2 - but not TLS 1.2. Including this information would make the requirements text proposed just longer. In addition, the requirement to actually send the server name is NOT in TLS 1.3, which only states: "Servers MAY require clients to send a valid "server_name" extension". Aka: The "Pledges SHOULD" requirement is an instantiation of that TLS 1.3 requirement.

Broader discussion: These requirements to not cover Registrar to MASA, but that is far less important, because that is not about implemention in hundreds of thousands of pledges that can not be fixed, but only implementation in few cloud registrar implementations when necessary. There is no good place in BRSKI-cloud that i found to insert the same requirement for registrar to MASA. Beside, it is also a lot more likely that TLS 1.3 is available there.

Also note that this requirement is orthogonal to all the possible authentication mechanisms between pledge and registrar. server_name is only to support demultiplexing connections on the cloud side. It does of course get more tricky if one wanted to use some form of encrypted server_name as being proposed with TLS 1.3, but still not in a state to give good suggestions (see https://en.wikipedia.org/wiki/Server_Name_Indication)

So, first. This SNI issue applies to the Registrar, and not the MASA.
The Registrar *MUST* ignore any SNI, because there is no way for the pledge to get a correct one.
This is true for TLS 1.2 and 1.3. Some TLS 1.2 implementations might always ignore it though.

The MASA is always accessed via RFC6125-DNSID, aka RFC9525 compliant URLs.
A Cloud-Registrar is accessed via URL as well.  There may well be a chain of Registrars, but they are always referenced by URL.
The "final" hop could be via 307 redirect, and the pledge will have to trust whatever is in that URL and put it into SNI.
But, the final Registrar, being a registrar, will ignore the SNI.

If the "final" hop is by the Cloud-Registrar returning a voucher with an est-domain attribute in the voucher, then the pledge does put in the SNI, and does do DNSID verification.

I see a problem with the series of 307 returns: does the pledge use the Implicit Trust Anchor database after the first. Hmm.
So I don't see any need for any of SNI anxiety you wrote about above.


> So, first. This SNI issue applies to the Registrar, and not the MASA.

Ok, i have updated the proposed text in the first post to differentiate between Cloud and Owner Registrar. please check.

When a Pledge connects to a Cloud Registrar it will almost always have a domain name for that cloud registrar, and likewise, when the pledge is redirected by the cloud registrar, that usually is a URL redirct with domain name, not with IP address in the URL. So the pledge can set the SNI.

> The Registrar MUST ignore any SNI, because there is no way for the pledge to get a correct one.

Why not ? Also remember, that the SNI may not even need to be interpreted by the actual application. It is typically snooped by the cloud infrastructure that selects the correct VM (application) to direct the TLS Client to.

This SNI has nothing to do with security. Its just an extended part of the (too short) IPv4 address to get to the right server app...


> This is true for TLS 1.2 and 1.3. Some TLS 1.2 implementations might always ignore it though.

Not sure what you are trying to say. Rephrase ?

> The MASA is always accessed via RFC6125-DNSID, aka RFC9525 compliant URLs.

Right. And i think the SNI requirement for that requirement is what we discuss for Errata 6642, so we don't need to bother here - unless we want to shortcut an RFC8995 update.

> A Cloud-Registrar is accessed via URL as well. There may well be a chain of Registrars, but they are always referenced by URL.

Right. So SNI will work fine there.

> The "final" hop could be via 307 redirect, and the pledge will have to trust whatever is in that URL and put it into SNI.

Right.

> But, the final Registrar, being a registrar, will ignore the SNI.

Why ? Consider that a single application instance could be registrar for different ANI domains. Each on a different DNS domain / SNI. So the server looks at the SNI and selects based on the SNI the right certificate and domain context info to use. I am not saying we need to write something like that, but i don't see that we should say that the Registrar will ignore the SNI.

> If the "final" hop is by the Cloud-Registrar returning a voucher with an est-domain attribute in the voucher, then the pledge does put in the SNI, and does do DNSID verification.

The SNI is put into the ClientHello, the first packet sent to the Cloud Registrar. At that point in time its totally uninteresting what the Cloud Registrar does next. And AFAIK (from brski-cloud text), the Pledge needs to do DNSID verification anyhow. Whether it puts SNI in or not. Aka: SNI has nothing to do with DNSID verification.

> I see a problem with the series of 307 returns: does the pledge use the Implicit Trust Anchor database after the first. Hmm.
> So I don't see any need for any of SNI anxiety you wrote about above.

The anxiety is not about security, which may be what you are thinking. It is about deployability of Cloud and Owner Registrars, when you go to a cloud service, and the cloud service tells you that your registrar app will not work unless the Pledge sends SNI - because the cloud infra has a single IPv4 address across multiple apps, and needs the SNI to redirect the connection to the right (Cloud Registrar) app.

Toerless Eckert ***@***.***> wrote:
    >> The Registrar MUST ignore any SNI, because there is no way for the
    >> pledge to get a correct one.

    > Why not ? Also remember, that the SNI may not even need to be

Where would it get it?
The name to use is not in GRASP or mDNS.
And pledge is behind a join proxy, and maybe we shouldn't be leaking that
name there.




Do we agree SNI is required for Cloud Registrar connection ?

Wrt. Owner Registrar connection: If the Cloud Registrar redirects, and
that redirect is for an Owner Registrar URL, and if that URL has a domain
name, then:

a) SNI must be used
b) there is no proxy, but pledge connects directly to owner registrar.

Cheers
    Toerless

On Wed, Jan 31, 2024 at 06:23:55AM -0800, Michael Richardson wrote:
> Toerless Eckert ***@***.***> wrote:
>     >> The Registrar MUST ignore any SNI, because there is no way for the
>     >> pledge to get a correct one.
> 
>     > Why not ? Also remember, that the SNI may not even need to be
> 
> Where would it get it?
> The name to use is not in GRASP or mDNS.
> And pledge is behind a join proxy, and maybe we shouldn't be leaking that
> name there.
> 
> 
> 
> 
> -- 
> Reply to this email directly or view it on GitHub:
> https://github.com/anima-wg/brski-cloud/issues/134#issuecomment-1919206423
> You are receiving this because you authored the thread.
> 
> Message ID: ***@***.***>

-- 
---
***@***.***


Toerless Eckert ***@***.***> wrote:
    > Do we agree SNI is required for Cloud Registrar connection ?

Sure, but how strongly do we need to say things about normal TLS?



We've made a habit about mandating old TLS 1.2 because of fear of embedded devices
having often terribly old stacks, especially when they use any of the many embedded
OSs/SDKs, that do not care to follow newest network trends.

Thats IMHO the main reason to be diligent about these type of details.

Cheers
    Toerless

On Thu, Feb 01, 2024 at 03:13:11PM -0800, Michael Richardson wrote:
> Toerless Eckert ***@***.***> wrote:
>     > Do we agree SNI is required for Cloud Registrar connection ?
> 
> Sure, but how strongly do we need to say things about normal TLS?
> 
> 
> 
> -- 
> Reply to this email directly or view it on GitHub:
> https://github.com/anima-wg/brski-cloud/issues/134#issuecomment-1922455478
> You are receiving this because you authored the thread.
> 
> Message ID: ***@***.***>
