mo: why not send CSRattributes to Cloud Registrar

````
Section 2.2: “Note that the Pledge only sends the CSR Attributes request to the
entity acting as the EST server as per [RFC7030] section 2.6, and MUST NOT send
the CSR Attributes request to the Cloud Registrar.” … why? Is there a security
/ privacy / operational reason for this MUST NOT? Or is it simply a “this won’t
do anything”? If this is a security reason, then please be clear about what
“bad thing” happens.

Last paragraph of Section 3.1.2; there may be other DoS scenarios in which the
Cloud Registrar MAY wish to protect itself; for example if a large number of
requests come from known-malicious IP addresses, exhibit DoS style behaviours,
etc. Cloud Registrars MAY implement rate-limiting, incremental backoffs,
predictive filtering, or any other applicable DoS mitigation techniques. BRSKI
clients SHOULD be equipped with retry mechanisms appropriate to the DoS
mitigation techniques used by its manufacturer Cloud Registrar. Remember that
legitimate devices can become compromised and exhibit malicious behaviour, so
just because a Pledge device successfully completes TLS client-auth does not
mean that it should be fully trusted.
````


Section 3.1.2 issue
Is this extra information really the necessary?
Every server should be able to explicitly handle these types of attacks, and there is nothing unique about Cloud Registrar.



> Section 3.1.2 issue Is this extra information really the necessary? Every server should be able to explicitly handle these types of attacks, and there is nothing unique about Cloud Registrar.

Makes sense to me.