define remote location

````
160	1.2.1.  Owner Registrar Discovery

See also note in 1.2.2 - i would suggest "Bootstrap via Cloud Registrar and Owner Registrar" as better title

162	   A pledge is bootstrapping from a remote location with no local domain

You didn't define remote location.

163	   registrar (specifically: with no local infrastructure to provide for
164	   automated discovery), and needs to discover its owner registrar.  The
165	   cloud registrar is used by the pledge to discover the owner
166	   registrar.  The cloud registrar redirects the pledge to the owner
167	   registrar, and the pledge completes bootstrap against the owner
168	   registrar.

170	   A typical example is an enduser deploying a pledge in a home or small

s/enduser/employee who is/

171	   branch office, where the pledge belongs to the enduser's employer.

s/enduser's employer/employer/

172	   There is no local domain registrar, and the pledge needs to discover
173	   and bootstrap with the employer's registrar which is deployed in
174	   headquarters.  For example, an enduser is deploying an IP phone in a
175	   home office and the phone needs to register to an IP PBX deployed in

...needs the keying material from BRSKI to register..

176	   their employer's office.

178	1.2.2.  Bootstrapping with no Owner Registrar

How about Bootstrapping from via "Cloud Registrar and Owner EST-Server"

180	   A pledge is bootstrapping where the owner organization does not yet
                                                                           ^^^
181	   have an owner registrar deployed.  The cloud registrar issues a
                                           ^
...  but it has an [RFC7030] EST-Server for enrolment of pledges.

(aka: pull up this sentence here, because later in the paagraph it reads weird.

182	   voucher, and the pledge completes trust bootstrap using the cloud
183	   registrar.  The voucher issued by the cloud includes domain
184	   information for the owner's [EST] service the pledge should use for
185	   certificate enrollment.

I should have tried to understand this earlier ;-), but i really like this
case. WOuld love to see the following type of explanation here:

This option can be used to introduce the benefits of BRSKI for an initial
period when BRSKI is not available in existing EST-Servers. But it can also
be used long-term as an security-equivalent solution in which BRSKI and
EST-Server are set up in a modular fashion.

Would also suggest to add:

The use of an EST-Server instead of a BRSKI Registrar may mean that
not all the EST options required by [BRSKI] may be available and hence
this option may not support all BRSKI deployment cases. For example,
certificates to enroll into an ACP [RFC8994] needs to include an
AcpNodeName (see [RFC8994], Section 6.2.2), which non-BRSKI capable EST-Servers
ma not support.



At this point in the doc you need to insert 1.2.3 Summary
````


Broken out into:

https://github.com/anima-wg/brski-cloud/issues/98

https://github.com/anima-wg/brski-cloud/issues/99

https://github.com/anima-wg/brski-cloud/issues/100

https://github.com/anima-wg/brski-cloud/issues/105

https://github.com/anima-wg/brski-cloud/issues/106