Mahesh - Section 3.1.2, paragraph 1

>    According to [BRSKI], Section 2.7, the pledge MUST use an Implicit
>    Trust Anchor database (see EST [RFC7030]) to authenticate the Cloud
>    Registrar service.  The pledge MUST establish a mutually
>    authenticated TLS connection with the Cloud Registrar.  Unlike the
>    procedures documented in BRSKI section 5.1, the pledge MUST NOT
>    establish a provisional TLS connection with the Cloud Registrar.


Please add a definition or a reference to "provisional TLS connection"?

Owen Friel ***@***.***> wrote:
    > Please add a definition or a reference to "provisional TLS connection"?

RFC8995 section 5 describes the provisional TLS connection.



