IoTDIR review (QW): clarify captive portal vs provisional TLS

    > 5. Section 7.1 said: " The Provisional TLS connection does not do                               
    > [RFC9525], Section 6.3 DNS-ID verification at the beginning of the                              
    > connection, so a forced redirection to a captive portal system will not                         
    > be detected.  " Are you saying Provisional TLS Connection does not do                           
    > DNS-ID Verification, if yes, suggest to move "[RFC9525] Section 6.3"                            
    > after DNS-ID verification.                                                                      
                                     

