mo: jump from Cloud to Owner

````
******* Section 3.3.1: The security of the jump from Cloud Registrar to Owner /
VAR Registrar relies quite heavily on the BRSKI Provisional TLS mechanism. Even
with skimming RFC 8995, the details of the Provisional TLS stuff did not become
clear to me until I reached somewhere around section 8 of this document. Since
so much of the security of this document relies upon the Pledge correctly
handling the Provisional TLS state, I highly suggest adding a section
specifically about the Provisional TLS state. Section 8.2 has some really good
stuff buried in it about what things a Pledge MAY and MUST NOT do while it is
in the "Provisional TLS" state. Also, I think it would be helpful to explicitly
spell out what validation the Pledge MUST perform in order to get itself out of
the Provisional TLS state. RFC 8995 section 5.6.2 sorta outlines this, but in
my opinion, not well enough to base the entire security of this document on.
````


I agree with this observation. A dedicated section about Provisional TLS is warranted.

Umm. I do not think the linked PR #217 does not meet the request of

> I highly suggest adding a section
specifically about the Provisional TLS state.

Can we talk about this some more?