Mahesh - Section 1, paragraph 3

>    To support enrolment of pledges without such an owner based access
>    network, the mechanisms of BRSKI Cloud are required which assume that
>    Pledge and Registrar simply connect to the Internet.  The Internet
>    ("Cloud") connected Registrar will then determine ownership of the
>    Pledge and redirect the Plege to its owners Registrar.

I will admit I have not gone through the BRSKI specification. What happens if the URI of the Cloud Registrar is shutdown or moved? Is that covered by BRSKI, or is that outlined somewhere in this document?

Do we want to state anything here? BRKSI says nothing about cloud-registrar URI going out of service @mcr 

Owen Friel ***@***.***> wrote:
    > Do we want to state anything here? BRKSI says nothing about
    > cloud-registrar URI going out of service @mcr

a) it's as if BRSKI never existed.
b) it's covered in RFC8995 section 7 and 10.7.

