Toreless - draft-5 section 3.1.1: Is there still a non-redirecting BRSKI-Cloud Registrar?

````
294	3.1.1.  Cloud Registrar Discovery

296	   BRSKI defines how a pledge MAY contact a well-known URI of a cloud
297	   registrar if a local domain registrar cannot be discovered.

Actually, it would really be good if some text in the introduction of brski cloud
would discus/refer to RFC8995 section 2.7 "Cloud Registar", such as:

"RFC8995 2.7 introduces concept of Cloud Registar, but does not define how a Cloud
Registrar should perform BRSKI enrolment for pledges from potentially multiple domain.
This document provides a specification for Cloud Registar in which the Cloud
Registar either only provides a Voucher and then redirects the pledge to its
owners EST server, or where it only redirects the pledge to its owners BRSKI Registar.

This whole scope of this document also makes me wonder if we should amend the title
of the docuemtn to "Redirecting BRSKI Cloud Registar". Because there could still be
perfectly well an "all-in-one" BRSKI Cloud Registar, perfectly well fitting RFC8995
section 2.7 - bit not requiring any of this documents procedures, right ? Aka:
The key identifying property is not that of the Cloud Registrar but the fact that it
is redirecting (i think).
````

@toerless  @mcr  an early draft of this document outlined the "all-in-one" BRSKI Cloud Registrar where the pledge did EST enrol against the cloud registrar:

https://datatracker.ietf.org/doc/html/draft-friel-anima-brski-cloud-01#section-7.2.1

I am trying to recall why we removed it.

Should we reinstate? What would we call that target use case, now that we have renamed the current two to:

Bootstrap via Cloud Registrar and Owner Registrar
Bootstrap via Cloud Registrar and Owner EST Service

e.g. Bootstrap via Cloud Registrar and Cloud EST Service?
The protocol is pretty simple: cloud issues a voucher without an est-domain attribute.

But then we need to weaken the text we just added in https://github.com/anima-wg/brski-cloud/pull/124 

Owen Friel ***@***.***> wrote:
    > @toerless @mcr an early draft of this document outlined the
    > "all-in-one" BRSKI Cloud Registrar where the pledge did EST enrol
    > against the cloud registrar:

    > https://datatracker.ietf.org/doc/html/draft-friel-anima-brski-cloud-01#section-7.2.1

> I am trying to recall why we removed it.

I think that it was lacked of a clear use case that was distinct from the
other use cases.

In the meantime, we added more clarify around 307 redirects in the process,
which I think opened up some additional patterns.

Assuming that step 3, Voucher Response, would have that service:fqdn (now,
est-domain) then effectively, that use case can be just a variation of use
case Voucher Request Handled by Cloud Registrar, with a hosted EST server.
The hosted EST-server could well be in the cloud. (As could the owner
Registrar)





so Q1:  is there a difference between

(1) all-in-one Cloud Registrar +  EST Service
(2) Cloud Registrar and Cloud EST service, and they could be at different domains/operators

For (1), then there are two suboptions:

Cloud Registrar returns:

(1. a) a Voucher with an est-domain field that points back to itself which means that its really a variant of "Bootstrap via Cloud Registrar and Owner EST Service" and we could rename that to "Bootstrap via Cloud Registrar and EST Service"

OR

(1. b) return a Voucher without an est-domain field. And then just like BRSKI, the Pledge sends the EST enrol requests to the registrar that just issued it a Voucher i.e. the Cloud Registrar.

For (2), then the Cloud Registar returns a Voucher with an est-domain for the EST service which also happens to be in the cloud.

Note that if the Voucher contains an est-domain then the Pledge cannot really tell the difference between a Cloud EST or Owner EST service. Maybe it could look at privat vs. public IP addresses, or try match to EST service domain to the local domain discovered from the local network, but not really 100% reliable.

I think I lean towards it its an all-in-one Cloud Registrar + EST, then the Cloud Registrar returns a Voucher that includes an est-domain that points back to itself.

And therefore the language in https://github.com/anima-wg/brski-cloud/blob/master/anima-brski-cloud.md#cloud-registrar-issues-voucher stays as is:

"The voucher MUST include the new "est-domain" field as defined in {{RFC8366bis}}. This tells the pledge where the domain of the EST service to use for completing certificate enrollment."

And we can add a sentence stating something like "If the Cloud Registrar also acts as the EST service for an onboarding pledge, then the Cloud Registrar MUST still include the est-domain field, and this est-domain points back to the Cloud Registrar."